@import 'tailwindcss';

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #f9fafb;
  --color-secondary: #374151;
  --color-highlight: #add560;
  --text-color: #1f2937;
}

* {
  margin: 0;
  padding: ;
  box-sizing: border-box;
}
