@import 'tailwindcss';

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #191919;
  --color-secondary: #f9f9f9;
  --color-highlight: #fff05e;
  --text-color: #f9f9f9;
}

* {
  margin: 0;
  padding: ;
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  color: var(--text-color);
  background-color: var(--color-primary);
  overflow-x: hidden;
  height: 100vh !important;
  width: 100vw !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.menu-enter {
  animation: slideDown 0.3s ease-in-out forwards;
}

.menu-exit {
  animation: slideUp 0.3s ease-in-out forwards;
}
